@font-face {
  font-family: 'Rodin';
  src: url(assets/FOTRodin\ Pro\ L.otf);
}

body {
  margin: 0;
  font-family: Rodin;
}

#root {
  height: 100vh;
  width: 100vw;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header {
  height: 100px;
  background-color: black;
  color: white;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header div {
  font-size: 36px;
  text-align: center;
}

.score{
  position: absolute;
  right: 5%;
  font-size: 16px;
  text-align: end;
}

.score div{
  font-size: 16px;
  text-align: end;
}

.container {
  display: flex;
  flex-wrap: wrap;

  width: 840px;
  margin: auto;
}

.card {
  border: solid black 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 118px;
  width: 118px;
  padding: 12px;
  margin: 12px;
  position: relative;
  border-radius: 10px;
  box-shadow: black 4px 4px 8px;
}

.card img {
  width: 96px;
}

.card div {
  font-size: 16px;
  position: absolute;
  color: rgb(0, 0, 0);
  bottom: 0;
}

.replay {
  font-family: 'Rodin';
  font-size: 24px;
  width: 100px;
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: -24px;
  position: absolute;
  background-image: linear-gradient(180deg, #6e6c98, transparent);
  border: solid black 1px;
  border-radius: 4px;
  z-index: 2;
}
.card:hover {
  cursor: pointer;
  bottom: 20px;
}

.replay:hover {
  cursor: pointer;
}

@media screen and (max-height: 900px) {
  .card {
    height: 110px;
    width: 110px;
    box-shadow: black 2px 2px 4px;
  }

  .container {
    width: 800px;
  }

}

@media screen and (max-height: 860px) {
  .card {
    height: 80px;
    width: 80px;
    box-shadow: black 2px 2px 4px;
  }

  .card div {
    font-size: 12px;
  }

  .card img {
    width: 62px;
  }

  .container {
    width: 650px;
  }

}

@media screen and (max-width: 860px) {
  .App {
    overflow: auto;
  }

  .card {
    height: 40px;
    width: 40px;
  }

  .container {
    width: 100%;
    display: flex;
    justify-content: center;
}

  .header {
    flex: 0 0 100px;
    justify-content: space-between;
  }

  .header div {
    margin-left: 6px;
    font-size: 16px;
    text-align: end;
  }
  
  .score {
    position: absolute;
    right: 5%;
  }

  .card div {
    display: none;
  }

  .card img {
    width: 42px;
  }
}